@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-poppins);
  font-size: 14px;
}
.animate-fade-out {
  opacity: 0;
  animation: fadeout ease-in-out 1s forwards;
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}
.img {
  float: left;
  width: 120px;
  height: 120px;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button {
  border: 1px solid rgb(0, 132, 255);
  color: black;
  padding: 7px;
  border-radius: 10px;
}
